[buildout]
extends =
    profiles/development.cfg
    profiles/templates.cfg
    profiles/statsd.cfg

[openregistry.api.ini]
couchdb_db = test
auth_file = ${buildout:directory}/auth.ini.example

[data_bridge_defaults]
resources_api_version = 0.1
resources_api_server = http://${circus.ini:web_host}:${circus.ini:web_port}
couch_user = ""
couch_password = ""

[concierge.yaml]
lots_url = ${data_bridge_defaults:resources_api_server}
assets_url = ${data_bridge_defaults:resources_api_server}
lots_api_version = ${data_bridge_defaults:resources_api_version}
assets_api_version = ${data_bridge_defaults:resources_api_version}
lot_secret_token = concierge
assets_secret_token = concierge

[convoy.yaml]
lots_api_key = convoy
assets_api_key = convoy

[circus.ini]
webapp = True
databridge = True
concierge = True
convoy = True
