[buildout]
extends =
    base.cfg
    sources.cfg
    versions.cfg
parts +=
    docs
    pep8-bin
    pep8
    pylint-bin
    pylint


auto-checkout = ${:package-name}
show-picked-versions = true
update-versions-file = profiles/versions.cfg

[scripts]
eggs +=
    nose
    WebTest
    coverage
    mock
    repoze.profile
scripts +=
    pserve
    nosetests


[circus.ini]
webapp =
databridge =
auctions_databridge =
concierge =
convoy = 

[openregistry.api.ini]
debug = true

[docs]
recipe = collective.recipe.sphinxbuilder
eggs =
    ${buildout:package-name}
    sphinxcontrib-httpdomain
source =
    ${buildout:directory}/src/openregistry.api/docs/source

[pep8-bin]
recipe = zc.recipe.egg
eggs =
   pep8
entry-points = pep8-bin=pep8:_main

[pep8]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    find -L src -type f -regex ".*\.py" | xargs bin/pep8-bin
output = ${buildout:directory}/bin/pep8
mode = 755

[pylint-bin]
recipe = zc.recipe.egg
eggs = pylint
entry-points = pylint-bin=pylint.lint:Run
arguments = [
    '--output-format=colorized',
    '--reports=y',
    '--disable=F0401,C0111,C0103,W0142,W0232,E1101,R0911,C0301',
    '--generated-members=objects',
    '--min-public-methods=0',
    '--max-public-methods=30',
    ] + sys.argv[1:]

[pylint]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    find -L src -type f -regex ".*\.py" | xargs bin/pylint-bin $@
output = ${buildout:directory}/bin/pylint
mode = 755